<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>Jet Digital</title>
		<meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">
		<meta name = "format-detection" content="telephone = no" />
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">
<!--
		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
-->
		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">
		
		<!-- the project core CSS file -->
		<link href="css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/light_blue.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<body class="no-trans front-page transparent-header " style="width:100%">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- header-container start -->
			<div class="header-container" style="height:43px">
				<div class="header-top dark " style="background-color:rgb(51,178,215);border-bottom:1px solid rgb(51,178,215);height:43px">
					<div class="container" style="height:43px">
						<div class="row">
							<div class="col-xs-3 col-sm-6 col-md-9">
								<!-- header-top-first start -->
								<!-- ================ -->
								<div class="header-top-first clearfix">
									
								</div>
								<!-- header-top-first end -->
							</div>
							<div class="col-xs-9 col-sm-6 col-md-3">

								<!-- header-top-second start -->
								<!-- ================ -->
								<div id="header-top-second"  class="clearfix">

									<!-- header top dropdowns start -->
									<!-- ================ -->
									<div class="header-top-dropdown text-right">
										<div class="btn-group">
											
										</div>
										<div class="btn-group dropdown">
											
										</div>
									</div>
									<!--  header top dropdowns end -->
								</div>
								<!-- header-top-second end -->
							</div>
						</div>
					</div>
				</div>
				<!-- ================ --> 
				<header class="header  fixed   clearfix">
					
					<div class="container" style="">
						<div class="row">
							<div class="col-md-3">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									<div id="logo" class="logo">
										<a href="index.html"><img id="logo_img" src="images/logo.png" alt="The Project"></a>
									</div>
								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
					
								<div class="header-right clearfix">
									
								<div class="main-navigation  animated with-dropdown-buttons">
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>
											<div class="collapse navbar-collapse" id="navbar-collapse-1" style="padding-right:0">
												<!-- main-menu -->
												<ul class="nav navbar-nav ">
													<li class="dropdown">
														<a class="dropdown-toggle scroller " href="index.html">首页</a>
													</li>
													<!-- mega-menu start -->
													<li class="dropdown mega-menu">
														<a href="index.html#服务" class="dropdown-toggle scroller" data-section="#服务" >服务</a>
													</li class="dropdown">
													<!-- mega-menu end -->
													<li class="dropdown">
														<a class="dropdown-toggle  scroller" data-section="#案例" href="index.html#案例">案例</a>
													</li>
													<!-- mega-menu start -->													
													<li class="dropdown  mega-menu narrow">
														<a href="join_us.html" class="dropdown-toggle">加入我们</a>
														
													</li>
													<!-- mega-menu end -->
													<li class="dropdown">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们</a>
															<ul class="dropdown-menu">
																<li ><a href="introduce.html">介绍</a></li>
																<li><a href="contact.html">联系</a></li>
																<li ><a href="resource.html">资源</a></li>
															</ul>
													</li>
													<li class="dropdown">
														<a href="index.html#博客" class="dropdown-toggle scroller" data-section="#博客">博客</a>
													</li>
												</ul>
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->
		
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow" id="首页">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>
			<!-- banner end -->
			
			<div id="page-start"></div>

			<!-- section start -->
			<!-- ================ -->
			<section class="main-container" style="padding:100px 0">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-8 col-md-offset-2 space-bottom">
							<h4 class="title"style="color:black;padding-top:40px">2014年北京国际车展 微博微信平台 媒体大数据分析报告</h4>
							<div class="separator"></div>
							<img class="media-object" src="images/blog1-1.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px">2014年4月19日至5月2日<br>我们的数据引擎不分昼夜，、马不停蹄、电力充沛的全程监测了2427个汽车行业相关微博。<br><span style="color:red">445(占22.5%)</span>个微博账号发布了北京车展内容</p>
							<img class="media-object" src="images/blog1-2.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px">在这样的重要时刻，我们更不能忘了微信订阅号的各位媒体和自媒体们</p>
							<img class="media-object" src="images/blog1-3.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px">4月20日是个好日子（媒体日果然名不虚传）<br>两个平台里的信息量都达到了<span style="color:red">最高点</span></p>
							<img class="media-object" src="images/blog1-4.png" alt="blog-thumb">
							<img class="media-object" src="images/blog1-5.png" alt="blog-thumb">
							<img class="media-object" src="images/blog1-6.png" alt="blog-thumb">
							<p class="large"style="color:red;font-size:16px">小伙伴们有木有发现，有两位媒体人老师，好勤奋，必须点赞</p>
							<p class="large"style="color:black;font-size:16px">看看微博平台上北京车展上的互动数，大伙算算大概能估算出微博平台的平均互动比例了</p>
							<center><img class="media-object" src="images/blog1-7.png" alt="blog-thumb"></center>
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">下面是<span style="color:red">转发数最多的</span>10条微博</p>
							<img class="media-object" src="images/blog1-8.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">下面是<span style="color:red">评论数最多的</span>10条微博</p>
							<img class="media-object" src="images/blog1-9.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px">果然是新浪的主场，一统江湖的感觉油然而生...</p>
							<img class="media-object" src="images/blog1-10.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px">看着这份品牌提及度排行前10的表格，小编又不忍激动了。<br>
								<span style="color:red">大奔</span>虽威武,<span style="color:red">小特</span>不参加胜似参加啊！<br>
								（小特在微信上其实排名第20位哦）</p>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">做公关的同学们这时候提醒小编了，光看量不行，还得看质！<br>
								还好技术引擎有双能识别好坏的“火眼金睛”，<br>
								看了一眼，果然数字背后有<span style="color:red">乾坤！</span><br></p>
							<img class="media-object" src="images/blog1-11.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px">便于大伙做报告，小编把总量、正面、负面放在同一张表上了，更好了，是不是？</p>
							<img class="media-object" src="images/blog1-12.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">车型总量前10名</p>
							<img class="media-object" src="images/blog1-13-1.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">车型正面口碑前10名</p>
							<img class="media-object" src="images/blog1-13-2.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px">为感谢各位朋友的认真阅读，此时此刻必须来道大菜，一起来看看《车轮上的世界》！</p>
							<img class="media-object" src="images/blog1-14.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">俺们对数据的工作态度就是：<br>
								俺挖俺挖，俺就爱挖！</p>
							<img class="media-object" src="images/blog1-15.png" alt="blog-thumb">
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">再挖下去，必须是和汽车相关的各类词汇了！<br>
								有了这些词汇加上前面的车型、品牌就能轻松组合成一篇微博了哦</p>
							<img class="media-object" src="images/blog1-16.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">车展不是所有的新闻都和汽车有关，这次北京车展更是因为明星发生了太多故事</p>
							<img class="media-object" src="images/blog1-17.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">但地球人都知道，这次北京车展被教授的粉丝占领了，这是一个欧巴的时代！</p>
							<img class="media-object" src="images/blog1-18.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">虽然欧巴人气很高，但这次在媒体圈中负面情绪漫天飞，不知道他造吗？</p>
							<img class="media-object" src="images/blog1-19.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">嘿，就是听到你的心声，我们才又去研究了下车模，耽误了报告出炉的时间。<br>
								也许会令你失望，美女车模对于媒体老师们来说就像浮云啊...<br>
								要不下次媒体日就别安排车模了，好省好多银子了...</p>
							<img class="media-object" src="images/blog1-20.png" alt="blog-thumb">
							<br>
							<p class="large"style="color:black;font-size:16px;margin-bottom:10px">最后，这次北京车展打破的另一个记录，或许就是吐槽量，细节就不多说了，反正大家都懂</p>
							<img class="media-object" src="images/blog1-21.png" alt="blog-thumb">
						</div>
						<!-- main end -->
					</div>
				<!--
					<div class="separator"></div>
					<div class="row">
						<div class="main col-md-8 col-md-offset-2 space-bottom">
							<p class="large pull-left"style="color:rgb(99,118,147);font-size:14px"><i class="fa fa-tag"></i>车展</p>
							<p class="large pull-right"style="color:rgb(9,175,223);font-size:14px"><i class="fa fa-chain"></i>阅读全文</p>
						</div>
					</div>
				-->
				</div>
			</section>
			<!-- section end -->

			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2015 <a target="_blank" href="#">Jet Digital</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		
		

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Background Video -->
		<script src="plugins/vide/jquery.vide.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
		<script src="js/theme.js"></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41491855-5', 'auto');
  ga('send', 'pageview');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c7af01baa0c1bccadc633be1e318f6cc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	</body>
</html>
