<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>加入我们</title>
		<meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">

<!-- 
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
-->
		<!-- Bootstrap core CSS -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
		<link href="css/animations.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
		<link href="plugins/hover/hover-min.css" rel="stylesheet">
		
		<!-- the project core CSS file -->
		<link href="css/style.css" rel="stylesheet" >

		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="css/skins/light_blue.css" rel="stylesheet">

		<!-- Custom css --> 
		<link href="css/custom.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<body class="no-trans front-page transparent-header ">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- header-container start -->
			<div class="header-container" style="height:43px">
				<div class="header-top dark " style="background-color:rgb(51,178,215);border-bottom:1px solid rgb(51,178,215);height:43px">
					<div class="container" style="height:43px">
						<div class="row">
							<div class="col-xs-3 col-sm-6 col-md-9">
								<!-- header-top-first start -->
								<!-- ================ -->
								<div class="header-top-first clearfix">
									
								</div>
								<!-- header-top-first end -->
							</div>
							<div class="col-xs-9 col-sm-6 col-md-3">

								<!-- header-top-second start -->
								<!-- ================ -->
								<div id="header-top-second"  class="clearfix">

									<!-- header top dropdowns start -->
									<!-- ================ -->
									<div class="header-top-dropdown text-right">
										<div class="btn-group">
											
										</div>
										<div class="btn-group dropdown">
											
										</div>
									</div>
									<!--  header top dropdowns end -->
								</div>
								<!-- header-top-second end -->
							</div>
						</div>
					</div>
				</div>
				<!-- header-top end -->
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				<header class="header  fixed   clearfix">
					
					<div class="container" style="">
						<div class="row">
							<div class="col-md-3">
								<!-- header-left start -->
								<!-- ================ -->
								<div class="header-left clearfix">

									<!-- logo -->
									<div id="logo" class="logo">
										<a href="index.html"><img id="logo_img" src="images/logo.png" alt="The Project"></a>
									</div>
								</div>
								<!-- header-left end -->

							</div>
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
					
								<div class="header-right clearfix">
									
								<div class="main-navigation  animated with-dropdown-buttons">
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>
											<div class="collapse navbar-collapse" id="navbar-collapse-1" style="padding-right:0">
												<!-- main-menu -->
												<ul class="nav navbar-nav ">
													<li class="dropdown">
														<a class="dropdown-toggle scroller"  href="index.html">首页</a>
													</li>
													<!-- mega-menu start -->
													<li class="dropdown mega-menu">
														<a class="dropdown-toggle scroller" href="index.html#服务" >服务</a>
													</li class="dropdown">
													<!-- mega-menu end -->
													<li class="dropdown">
														<a class="dropdown-toggle  scroller" href="index.html#案例">案例</a>
													</li>
													<!-- mega-menu start -->													
													<li class="dropdown mega-menu narrow active">
														<a href="join_us.html" class="dropdown-toggle" >加入我们</a>
														
													</li>
													<!-- mega-menu end -->
													<li class="dropdown ">
														<a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们</a>
															<ul class="dropdown-menu">
																<li><a href="introduce.html">介绍</a></li>
																<li ><a href="contact.html">联系</a></li>
																<li ><a href="resource.html">资源</a></li>
															</ul>
													</li>
													<li class="dropdown">
														<a class="dropdown-toggle scroller" href="index.html#博客">博客</a>
													</li>
												</ul>
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			
			<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow" id="首页">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullscreen">
							<ul class="slides">
								<li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="">
								<!-- main image -->
								<img src="images/join_us.png" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
								
								<div class="tp-caption sfb fadeout large_white"
									data-x="center"
									data-y="center"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000"><center><strong><span style="color:rgb(79,194,227)"></span></strong></center>
								</div>
								
								</li>
								<!-- slide 2 end -->
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>

			<section class="pv-30"style="padding-bottom:0;padding-top:0">
				<div class="container" style="background-color:white;padding-top:50px;padding-bottom:50px;width:100%">
					<div id="job" class="row">
						<div id="request" class="col-md-5 col-md-offset-1 web-right">
							<p><br>岗位职责：<br>1.与客户进行良好的沟通及协调，深度理解客户需求；<br>2.根据客户需求制定执行计划并推进计划的执行；<br>3.撰写日常报告，协助客户经理的工作<br>4.具有一定文字撰写基础，需撰写基本传播稿件；<br>岗位要求：<br>1.热爱数字营销行业，喜欢写作，网络深度用户；<br>2.熟练运用Word、Excel、PowerPoint等办公软件，具备一定图片处理功力，会运用PS、AI等图片处理软件；具备优秀英语表达能力者优先；<br>3.具备1年及以上数字营销、广告、公关等相关代理公司经验；<br>4.本科及以上学历。</p>
							<br>
						</div>
						<div id="jall" class="col-md-3 col-md-offset-2 web-left"style="margin-top:15px">
							<div id="j1" class="joinbox join blue">客户执行</div>
							<div id="j2" class="joinbox join">客户经理</div>
							<div id="j3" class="joinbox join">文案</div>
							<div id="j4" class="joinbox join">策划经理</div>
							<div id="j5" class="joinbox join">美术指导</div>
							<div id="j6" class="joinbox join">网页前端程序设计师</div>
							<div id="j7" class="joinbox join">实习生</div>
						</div>
					</div>
				</div>
			</section>

			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2015 <a target="_blank" href="#">Jet Digital</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- jQuery Revolution Slider  -->
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

		
		

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

		<!-- Count To javascript -->
		<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
		
		<!-- Parallax javascript -->
		<script src="plugins/jquery.parallax-1.1.3.js"></script>

		<!-- Contact form -->
		<script src="plugins/jquery.validate.js"></script>

		<!-- Background Video -->
		<script src="plugins/vide/jquery.vide.js"></script>

		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
		
		<!-- SmoothScroll javascript -->
		<script type="text/javascript" src="plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
		<script src="js/theme.js"></script>

	

		<script type="text/javascript">

	        browserRedirect();

			$(document).ready(function(){
				$("#j1").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位职责：<br>1.与客户进行良好的沟通及协调，深度理解客户需求；<br>2.根据客户需求制定执行计划并推进计划的执行；<br>3.撰写日常报告，协助客户经理的工作<br>4.具有一定文字撰写基础，需撰写基本传播稿件；<br></br>岗位要求：<br>1.热爱数字营销行业，喜欢写作，网络深度用户；<br>2.熟练运用Word、Excel、PowerPoint等办公软件，具备一定图片处理功力，会运用PS、AI等图片处理软件；具备优秀英语表达能力者优先；<br>3.具备1年及以上数字营销、广告、公关等相关代理公司经验；<br>4.本科及以上学历。</p>');
					});
				$("#j2").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位职责：<br>1.负责撰写社会化媒体营销传播方案，制作比稿PPT以及提案；<br>2.负责项目的统筹管理，带领团队推进项目的执行工作；<br>3.具备深厚文字功力，撰写相关传播稿件；<br>4.负责客户关系的维护以及团队专业技能、服务意识的培训；<br></br>岗位要求：<br>1.具有丰富社交媒体及数字整合传播的项目经验；<br>2.具备良好时间管理能力、沟通能力以及团队合作精神，能承受较强的工作压力；<br>3.具备3年及以上数字营销、广告、公关等相关代理公司经验；<br>4.本科及以上学历。</p>');
					});
				$("#j3").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位职责：<br>1.具备深厚文字表达功力和创意能力，根据要求撰写有说服力的文案；<br>2．领会客户需求，参与Brain Storming和各种创意工作；<br>3.捕捉互联网热点、话题、资讯，提供创意点；<br></br>岗位要求：<br>1.	深厚文字表达功力和创意能力，有独特见解，视角新颖；<br>2.	热爱文字和写作，爱好广泛，有一定图片或视频处理能力更佳；<br>3.	具备强大的洞察力以及团队合作精神。</p>');
					});
				$("#j4").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位职责：<br>1.深度理解客户需求，带领团队Brain Storming，负责core idea等相关创意工作；<br>2.基于客户要求和目标受众的精确洞察撰写策划方案，制作比稿PPT以及提案；<br>3.把控项目全局，包括管理项目预算分配、创意信息的传递、项目执行推进等；<br>4.实时掌握社会化媒体发展动态和趋势，提供社会化媒介解决方案并不断优化；<br>5.为项目执行中的创意、文案、视觉表现等工作提供方向和建议；<br></br>岗位要求：<br>1.具有强大洞察力、理解能力、创意能力以及资源整合能力；<br>2.具备数据分析、市场研究和制定策划方案能力；<br>3.具备领导团队的能力和极强的工作责任心；<br>4.3年及以上数字营销、广告、公关等相关代理公司经验；<br>5..本科及以上学历。</p>');
					});
				$("#j5").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位职责：<br>1.根据客户要求负责项目中视觉效果部分的设计；<br>2.参与Brain Storming以及创意发想；<br>3.与文案合作共同完成所有创意的视觉表现部分；<br></br>岗位要求：<br>1.美术、设计的、广告等相关专业毕业；本科以上学历，3年以上相关工作经验；<br>2.热爱新媒体视觉表达艺术，深谙不同媒介的创意特点；<br>3.具备深厚的美术设计功底，画面表现力极强，具备较高审美水平；<br>4.熟练运用各种图片处理软件，具备视频编辑能力。</p>');
					});
				$("#j6").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位职责：<br>1.	按照项目要求制作PC端、移动端互动页面；<br>2.	探索新技术，寻求优化用户体验的解决方法；<br></br>岗位要求：<br>1.了解W3C网页标准；<br>2.熟悉JavaScript、AJAX、CSS3、HTML5、jQuery Mobile、Responsive Design；<br>3.使用过XML、JSON数据格式，具备行动装置网页开发经验；<br>4.熟悉Firebug和Chrome和IE Developer Tools等网页调试程序；<br>5.处理过JavaScript、CSS和标准HTML跨平台和跨浏览器兼容性问题；<br>6.需有开发Single Page Website的经验；<br>7.俱备php开发经验优先，俱备微信网页app开发经验优先；<br>8.2年以上相关工作经验.</p>');
					});
				$("#j7").click(function() {
						$(".join").removeClass("blue")
						$(this).addClass("blue")
						$('#request')
						.find('p')
						.remove()
    					.end()
    					.append('<p>岗位要求：<br>1.社交网络深度用户，热点潮词信手拈来，脑洞时刻绽开，能提供有价值的叨逼叨；<br>2.广告、新闻传播、市场营销等相关专业，本科在读大学生；<br>3.每周保证至少三天工作时间，半年以上，希望在广告业长期发展；<br>4.表达清晰，执行力强；愿意学习和接受挑战。</p>');
					});
				});

	        function browserRedirect() {
	            var sUserAgent = navigator.userAgent.toLowerCase();
	            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
	            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
	            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
	            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
	            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
	            var bIsAndroid = sUserAgent.match(/android/i) == "android";
	            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
	            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
	            var str_div_job = '\
	            	<div id="job" class="row">\
	            		<div id="jall" class="col-md-3 col-md-offset-1 web-left">\
	            			<div id="j1" class="joinbox join">客户执行</div>\
	            			<div id="j2" class="joinbox join">客户经理</div>\
	            			<div id="j3" class="joinbox join">文案</div>\
	            			<div id="j4" class="joinbox join">策划经理</div>\
	            			<div id="j5" class="joinbox join">美术指导</div>\
	            			<div id="j6" class="joinbox join">网页前端程序设计师</div>\
	            			<div id="j7" class="joinbox join">实习生</div>\
            			</div>\
            			<div id="request" class="col-md-5 col-md-offset-1 web-right">\
            				<p>岗位职责：\
            				<br>1.与客户进行良好的沟通及协调，深度理解客户需求；<br>\
            				2.根据客户需求制定执行计划并推进计划的执行；<br>\
            				3.撰写日常报告，协助客户经理的工作<br>\
            				4.具有一定文字撰写基础，需撰写基本传播稿件；<br>\
            				岗位要求：<br>\
            				1.热爱数字营销行业，喜欢写作，网络深度用户；<br>\
            				2.熟练运用Word、Excel、PowerPoint等办公软件，具备一定图片处理功力，会运用PS、AI等图片处理软件；具备优秀英语表达能力者优先；<br>\
            				3.具备1年及以上数字营销、广告、公关等相关代理公司经验；<br>\
            				4.本科及以上学历。</p><br></div></div>';
	            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
	            	$("#job").ready(function() {
	            		$("#job").replaceWith($(str_div_job));
					});
	            } else {
	                return true;
	            }
	        }
    	</script>

    	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41491855-5', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
